*{
    padding: 0;
    margin: 0;
}

 
.home{
        display: flex;
        flex-direction: column;
        justify-content: left; 
        .recent{
            margin-left: 20px;
            font-family: monospace;
        }
        .concern-detail{
            display: flex;
            align-items: center;
            border: 2px solid rgb(233, 112, 112);
            width: 700px; 
            margin-left: 20px;
            border-radius: 20px;
            padding: 10px;
            .concern{
            font-size: 30px;
            font-family: monospace;
            font-weight: 900;

        }
        .p{
            font-size: 20px;
            font-family: monospace;
        }
    }
       
        
        .first{
            display: flex;
            gap: 150px;
        }
         
        canvas{
            height: 300px;
            width: 400px;
            margin: 5px;
              
        }
        .left{ 
 
      
        .upper{
            display: flex;
             flex-direction: column;
            margin: 20px;
          

            .input{
                display: flex;
                flex-direction: column;
                margin-left: 23px;
                gap: 10px;
                .submit{
                    padding: 10px;
                    width: 90px;
                     border-radius: 10px;
                     cursor: pointer;
                    
                    background-color: rgb(255, 255, 255);
                }
            
                h1{
                    font-family: monospace;
                    color: rgb(0, 0, 0);

                }
    
                .input-box{
                    height: 300px;
                    width: 500px;
                     
                    border-radius: 10px;
                    outline: none;
                    font-size: 30px;
                    background-color: rgb(255, 255, 255);
                 }
    
    
            }

            .databoxes{
                display: flex;
                flex-direction: row;
                margin: 20px;
                gap: 20px;
                .databox{
                    height: 110px;
                    width: 190px;
                    border:  2px solid rgb(0, 0, 0);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    span{
                        font-size: 15px;
                        font-weight: bold;
                        font-family: monospace;
                    }
                     .statistics{
                        margin-top: 25px;
                        font-size: 30px;
                     }
                }
            }
        }
       
        
        
   
    .navbar{
       
        
         .icons{
             display: flex;
              flex-direction: row;
              align-items: center;
              gap: 40px;
              
               
              
            
            h1{
                    font-family: monospace;
               }
              
               img{
                height: 50px;
                width: 50px;
               }
             
                  
                 
            }
             
        }
    }
}

.no{
    margin-left: 21px;
}